
div{
    border: 1px solid cyan;
    padding: 5px;
    margin: 5px;
}

.relative{
    position: relative;
    left: 80px;
}
.fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: aqua;
    z-index: 10;
}
.absolute{
    position: absolute;
    bottom: 30px;
    right: 0px;
    background-color: aquamarine;
}

.relative.container{
    width: 800px;
    height: 800px;
    background-color: blue;
}
.sticky{/*el sticky se usa mas que el menu no se esconda y se a pegajoso*/
    background-color: darksalmon;
    color:aliceblue;
    position: sticky;
    top: 0px;
    z-index: 2;
}
