*{
    background-color: #CDFFF8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23c9cc71' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%233a2814' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23c0c56a' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23423417' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23b7be63' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23494019' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23adb85d' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23514b1c' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23a4b156' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2358571e' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%239baa4f' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23606321' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    width: auto;
}

.encabezado{
    font-style: italic;
}

#elemento-1{
    color: red;
}

ul li#elemento-1{
    font-size: 2rem;
}